* {
    /*box-sizing: border-box;*/
}


body {
    font-family: Arial;
    padding: 20px;
   background-image: url('images/first2.jpg');
}

/* Header*/
.header {
    padding: 10px;
    font-size: 35px;
    text-align: center;
    background: white;
}

.header2{
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.leftcolumn {
    flex: 75%;
    }


.rightcolumn {
    flex: 25%;
	padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
}

/* card for blog */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
.card:hover {
    border: 1px solid black;
    background: #fff3f3;
    transition: 1s;
    box-shadow: 50px;
}

.row {
    display: flex;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
  /*-------------navigation ------------*/
.nav-links ul li{
    flex: 1;
    text-align: right;
    position: relative;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{ 
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li a:hover {
    border: 1px solid white;
    background: grey;
    transition: 1s;
}
nav img{
    width: 150px;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
 /*-------------logo ------------*/
.socials{
    position: absolute;
   
    align-items: center;
}
.socials img{
      width: 10%;
      height: 10%;
      margin: auto;
      display: center;
      justify-content: center;
      overflow: hidden;
}
 .socials a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 10px;
}