*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.header{
	min-height: 500px;
	width: 100%;
    background-image: url('first2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}


nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;

}
nav img{
	width: 150px;
}
.nav-links ul li{
	flex: 1;
	text-align: right;
	position: relative;
	font-size: 15px;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{ 
	color: white;
	text-decoration: none;
	font-size: 15px;
}

a:hover
		{
			background-color: #C3C3E4;
			color: #C3C3E4;
			content: '';
			display: block;
			margin: auto;
			transition: 0.5s;
		}



.text{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text h1{
	font-size: 62px;
}
.text p{
	margin: 20px 0 40px;
	font-size: 14px;
	color: #fff;
}
.abc{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.abc:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
/*------divisions----*/
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;

}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;

}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;

}
.course-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 30px;
	margin-bottom: 5%;
	padding: 20px 20px;
	box-sizing: border-box;
	transition: 0.5s;
	overflow: hidden;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0; 
}
.course-col:hover{
	box-shadow: 0 0 20px 0px ;

}
.slider {
      width: 80%;
      height: 200px;
      margin: 20px auto;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 5px 5px 10px grey;
      } 
/*------campus----*/
.campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.campus-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.campus-col img{
	width: 80%;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226,0,0,0.7);

}