
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Giriraj Roy</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/giriraj.jpeg' %}" >
					<hr>
					<h4>Hi I'm Giriraj!</h4>
					<p>I love coding, doing research and collaborating with professionals</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>As a Developer</h4>
					<hr>
					<p>Much like every passionate web developer, I began my journey with a basic weather app and gradually built responsive pages and E-commerce frontend.
					My excited self being always open to learning migrated to machine learning and its awesome algorithms.</p>

					<p>Before I knew it we transitioned from the only newbie Front-end developer to a Full-stack developer with basics of Node JS in hand and Django that supports my base of machine learning.</p>

					<p>Moving with the well built fundation I am practicing my skills in cloud and starting with the guide of AWS(Amazon Web Services)</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Projects</h5>
					<hr>
					<h6>MIRANDO - Netflix Clone</h6>
					<p>Front-end clone of  Netflix Website that features TMDB API.</p>
					<h6>Heart Beat Prediction</h6>
					<p>A machine learning model of heart failure prediction using XG Boost</p>
					<h6>Responsive Page casting Breaking Bad</h6>
					<p>The website streams awesome animation casting Breaking Bad Characters</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col">
				<div class="card card-body h-100">
					<h5>Quick Contact</h5>
				<hr>
				<form id="contact" action="" method="post">

					<h5>Swooshing Mailing . . .</h5>
					<br>
					<fieldset class="field">
						<input placeholder="Your name" name="name" type="text" tabindex="1" autofocus> <span id="IL_AD5" class="IL_AD"></span>
					</fieldset>
					<fieldset class="field">
						<input placeholder="Your Email Address" name="email" type="email" tabindex="2">
					</fieldset>
					<fieldset class="field">
						<input placeholder="Phone Number" name="tel" type="tel" tabindex="3" > <span id="IL_AD4" class="IL_AD"></span>
					</fieldset>
					<fieldset class="field">
						<input placeholder="Type your subject line" type="text" name="subject" tabindex="4">
					</fieldset>
					<fieldset class="field">
						<textarea name="message" placeholder="Type your Message Details Here..." tabindex="5"></textarea>
					</fieldset>
					<div>
						<p class="success"> <?php echo $success;  ?></p>
						<p class="failed"> <?php echo $failed;  ?></p>
					</div>
					<fieldset class="field">
						<button type="submit" name="submit" id="contact-submit" data-submit="...Sending">Submit Now</button>
					</fieldset>
				</form>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>